/* ESERCIZIO 1 */

.ex-1-square:hover {
    background-color: red;
    transition: 2s;
}

/* ESERCIZIO 2 */

.ex-2-square {
    transition: width: 100%;
    transition: 2s;
    transition-timing-function: ease;
} 

.ex-2-square:active {
    width: 100%;
}

/* ESERCIZIO 3 */

.ex-3-square {
    transition: border-radius: 50%;
    transition: 0.5s;
    transition-timing-function: ease;
}

.ex-3-square:hover {
    border-radius: 50%;
}

/* ESERCIZIO 4 */

.ex-4-square {
    transition: opacity 1s ease 0s;
}

.ex-4-square:hover {
    opacity: 0;
}

/* ESERCIZIO 5 */

.ex-5-square {
    transition: 1s ease;
}

.ex-5-square:hover {
    scale: 2;
}

.ex-5-square:active {
    scale: 0.5;
}

/* ESERCIZIO 6 */

.ex-6-img:hover {
    filter: grayscale(100%);
}

/* ESERCIZIO 8 */
 .ex-8-img {
    transition: 1.5s;
 }

 .ex-8-img:hover {
    filter: grayscale(100%);
    filter: sepia(50%);
    border-radius: 20px;
 }